.services{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  &__card{
    &+&{
      margin-left:1rem;
    }
    flex:1;
    margin-top: 1rem;

  }
  &__text{
    flex-direction: column;
  }


}

@media screen and (max-width: 800px) {
  .services{
    flex-direction: column;
    align-items: center;
    &__card{
      align-items: center;
      justify-content: center;
      &+&{
        margin-left:0;
      }
      margin-top: 2rem;
    }
    &__img{
      max-width: none;
      max-height: none;
      width: 85%;
    }
    &__text{
      width: auto;
        padding-left: 1rem;
    }

  }
}