@use 'src/theme';



.nav{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.8em 0;

  &__link{
    padding: 0.7em 1.5em;
    display: inline;
    text-decoration: none;
    color: theme.$text_color_main;
    border-radius: 10%;
  }
  &__link:hover{
    color: theme.$nav_link_text_hover_main;
    background-color: theme.$nav_link_background_hover_main;
  }
  &--theme-main{
    background-color: theme.$nav_background_main;
  }
}
