@mixin size($name,$size){
  &--size--#{$name}{
    max-height:$size+px;
    max-width: $size+px;
    //@media screen and (min-width: 1500px){
    //  max-height:$size+200+px;
    //  max-width: $size+200+px;
    //}
  }
}

.squareImage{
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  @include size(extraLarge,600);
  @include size(large,500);
  @include size(medium,400);
  @include size(small,300);
  @include size(extraSmall,200);
  @include size(tiny,100);
  @include size(icon,50);


}
