.squareImage{
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  //TODO mixin size
  &--size--large{
    height:450px;
    width: 450px;
  }
  &--size--medium{
    height:350px;
    width: 350px;
  }
  &--size--small{
    height:250px;
    width: 250px;
  }
  &--size--responsive{
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
  }
}