.aboutme{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  &__card{
    min-width: 45%;
    flex: 2;
    margin-left: 2rem;
  }
  &__img{
    flex:1 1;
    aspect-ratio: 1;
    max-width: 500px;
    object-fit: cover;
    object-position: top;
  }
}