@use "../theme";

.card{
  display: flex;
  flex-direction: column;
  &__title{
    margin: 1rem 0 0 0;
    @for $i from 1 to 6{
      &--fontSize--#{$i}{
        font-size: #{$i*0.5}rem;
      }
    }
  }
  &__text{
    margin: 1rem 0 0 0;
    &--highlighted{
      padding-left: 1.1rem;
      border-left: 5px solid theme.$aboutme_card_text_highlighted_border_main;
      border-radius: 2px;
    }
  }
  $i:1;
  @each $size in extraSmall,small,medium,large{
    &--size--#{$size}{
      min-width: #{100+50*$i+"px"};
    }
    $i:$i + 1;
  }
  &--size--min-content{
    flex-basis: min-content;
  }
}