@use "icon";
@import url("https://unicons.iconscout.com/release/v4.0.0/css/line.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'PT Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
