@use "theme";
@import url("https://unicons.iconscout.com/release/v4.0.0/css/line.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'PT Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section{
  display: flex;
  flex-direction: row;
  padding: 4rem 0 2rem 0;
  align-items: flex-start;
  justify-content: center;
  &__card{
    margin: 0 0 0 2rem;
  }
  &__image{
  }
  &--bg--lightGray{
    background-color: theme.$aboutme_card_text_background_main;
  }
}
.icon{
  font-size: 1em;
  padding: 0.2em;
}