$orange: rgb(251, 193, 176);
$orange_dark: rgb(248, 126, 87);
$orange_light: rgba(255, 255, 255, 0.3);
$white: rgb(255,255,255);
$black: rgb(0,0,0);


$nav_background_main: $orange;
$nav_link_hover_text_main: $orange_dark;
$nav_link_hover_main: $orange_light;
$nav_contacts_border_main: $orange_dark;
$text_color_main: $black;