@use '../theme';



.nav{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.85em 0;

  &__toggle_button{
    display: none;
    background-color: inherit;
    border: 0;
    font-size: 2rem;
    color: theme.$black;
    &:hover{
      cursor: pointer;
      color: theme.$nav_link_text_hover_main;
      background-color: theme.$nav_link_background_hover_main;
    }
  }
  &__link{
    padding: 0.7em 1.5em;
    display: inline;
    text-decoration: none;
    color: theme.$text_color_main;
    border-radius: 10%;
  }
  &__link:hover{
    color: theme.$nav_link_text_hover_main;
    background-color: theme.$nav_link_background_hover_main;
  }
  &--theme-main{
    background-color: theme.$nav_background_main;
  }
}

@media screen and (max-width: 800px){
  .nav{
    padding: 0.5em 0;
    transition: height 10s linear;

    &__toggle_button {
      display: block;
    }
    &__links{
      &--open{
        height: 300px;
      }
      display: flex;
      position: relative;
      transition: height 0.5s ease-out;
      overflow: hidden;
      height: 0;
      flex-direction: column;
    }
    &__link{
      position: relative;
      text-align: center;
      border: 0;
    }
    flex-direction: column;
  }

}
